.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.containerShield {
    flex-direction: column;
    align-items: center;
    margin: 10px
}

.shield {
    width: 80px;
    height: 80px;
    margin: 0px 30px;
}
